/* Body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../Pictures/back.png);
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
    background-position: center; /* L'image est centrée */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
    background-size: cover;
    color: whitesmoke;
    font-weight: bold;
}


/* Header */

.header-top {
    margin-left: 10px;
    font-size: 1rem;
    margin-top: 80px;
}

.header-top img {
    width: 30px;
    height: 30px;
    margin-right: 0.6rem;
    vertical-align: middle;
}

header {
    margin-bottom: 25px;
}

.header-content {
    text-align: center;
    padding: 2rem 1rem;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1.8rem;
    margin-top: 35px;
}

.select-language {
    display: flex;
    align-items: center;
}

.select-language img {
    width: 30px;
    height: 30px;
    margin-right: 0.88rem;
}

.select-language a {
    margin: 0;
    margin-right: 15px;
    color: whitesmoke;
}



/* Nav Menu */

nav {
    background: linear-gradient(to right, #390fac, #a005b4);
    padding: 1rem 2rem;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    position: fixed; /* Fixe la nav bar tout en haut */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 6rem;
}

nav a {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 20px;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2.6px;
    background-color: black;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

/* Section */

.section {
    padding: 3rem 1rem;
    text-align: center;
    margin-bottom: 2.4rem;
}

.section-content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
}

.section-content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.section-content ul {
    list-style: none;
    padding: 0;
    margin-left: 2rem;
    margin-top: 1em;
}

.section-content li {
    margin-bottom: 0.8rem;
    position: relative;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.9rem;
    display: inline-block;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #157ec4, #390fac);
    position: absolute;
    bottom: 0;
    left: 0;
}

h2:hover {
    transform: scale(1.1);
}


/* Section Portfolio */


.section-content a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.section-content a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2.5px;
    background-color: whitesmoke;
    transition: width 0.3s ease;
}

.section-content a:hover::after {
    width: 100%;
}


/* CV */

.cv-content {
    margin-bottom: 3rem;
}


/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    font-size: 1rem;
    background: linear-gradient(to right, #a005b4, #390fac);
}
